absl-py==0.8.1
astor==0.8.0
audioread==2.1.5
cffi==1.13.1
cycler==0.10.0
decorator==4.4.1
falcon==1.2.0
gast==0.3.2
google-pasta==0.1.7
grpcio==1.24.3
h5py==2.10.0
inflect==0.2.5
joblib==0.14.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
librosa==0.5.1
llvmlite==0.30.0
lws==1.2.5
Markdown==3.1.1
matplotlib==2.0.2
numba==0.46.0
numpy==1.17.3
protobuf==3.10.0
PyAudio==0.2.11
pycparser==2.19
pyparsing==2.4.2
python-dateutil==2.8.0
python-mimeparse==1.6.0
pytz==2019.3
PyYAML==5.1.2
resampy==0.2.2
scikit-learn==0.21.3
scipy==1.0.0
six==1.12.0
sounddevice==0.3.10
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
tqdm==4.11.2
Unidecode==0.4.20
Werkzeug==0.16.0
wrapt==1.11.2
